     <div layout-sm="column" layout-xs="column" layout="row">
      <md-card>
          <md-card-title>
          <md-card-title-text>
            <span class="md-headline">fast</span>
          </md-card-title-text>
        </md-card-title>
                <md-card-content>
          <ul>
              <li>get to productive in less than 5 minutes</li>
              <li>deploy your first of many continuous releases</li>
              <li>setup a sales demo site in less than 5 minutes</li>
              <li>built in metrics</li>
          </ul>
        </md-card-content>
        <md-card-actions layout="row" layout-align="start center">
          <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <md-icon md-svg-icon="share"></md-icon>
            </md-button>
      </md-card>
            <md-card>
          <md-card-title>
          <md-card-title-text>
            <span class="md-headline">flexible</span>
          </md-card-title-text>
        </md-card-title>
                <md-card-content>
          <ul>
              <li>single source of truth</li>
              <li>all assets used through life cycle</li>
              <li>automated metrics</li>
              <li>control dashboard</li>
          </ul>
        </md-card-content>
        <md-card-actions layout="row" layout-align="start center">
          <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <md-icon md-svg-icon="share"></md-icon>
            </md-button>
      </md-card>
      <md-card>
          <md-card-title>
          <md-card-title-text>
            <span class="md-headline">fair</span>
          </md-card-title-text>
        </md-card-title>
        </md-card-title>
         <md-card-content>
          <ul>
              <li>multi stakeholder co-op</li>
              <li>reward for effort</li>
              <li>transparent</li>
              <li>accountable</li>
          </ul>
        </md-card-content>
        <md-card-actions layout="row" layout-align="start center">
          <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <md-icon md-svg-icon="share"></md-icon>
            </md-button>
        <md-card-content>
          <p>
            
          </p>
        </md-card-content>
      </md-card>
            <md-card>
         <md-card-title>
          <md-card-title-text>
            <span class="md-headline">free</span>
          </md-card-title-text>
        </md-card-title>
        </md-card-title>
                <md-card-content>
          <ul>
              <li>open source</li>
              <li>MIT license</li>
              <li>all tools are free</li>
          </ul>
        </md-card-content>
        <md-card-actions layout="row" layout-align="start center">
          <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <md-icon md-svg-icon="share"></md-icon>
            </md-button>
      </md-card>
   </div>