     <div layout-sm="column" layout-xs="column" layout="row">
      <md-card>
          <md-card-title>
          <md-card-title-text>
            <span class="md-headline">idea</span>
          </md-card-title-text>
        </md-card-title>
                <md-card-content>
          <ul>
              <li>sketch the idea</li>
              <li>add more detail</li>
              <li>build a prototype</li>
              <li>measure the delta</li>
          </ul>
        </md-card-content>
        <md-card-actions layout="row" layout-align="start center">
          <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <md-icon md-svg-icon="share"></md-icon>
            </md-button>
      </md-card>
            <md-card>
          <md-card-title>
          <md-card-title-text>
            <span class="md-headline">learn</span>
          </md-card-title-text>
        </md-card-title>
                <md-card-content>
          <ul>
              <li>maturity of the feature</li>
              <li>auto backlog</li>
              <li>automated metrics</li>
              <li>control dashboard</li>
          </ul>
        </md-card-content>
        <md-card-actions layout="row" layout-align="start center">
          <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <md-icon md-svg-icon="share"></md-icon>
            </md-button>
      </md-card>
      <md-card>
          <md-card-title>
          <md-card-title-text>
            <span class="md-headline">realise</span>
          </md-card-title-text>
        </md-card-title>
        </md-card-title>
         <md-card-content>
          <ul>
              <li>always shipping</li>
              <li>continuous delivery to production</li>
              <li>fast feedback</li>
              <li>answer hypothesis</li>
          </ul>
        </md-card-content>
        <md-card-actions layout="row" layout-align="start center">
          <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <md-icon md-svg-icon="share"></md-icon>
            </md-button>
        <md-card-content>
          <p>
            
          </p>
        </md-card-content>
      </md-card>
            <md-card>
         <md-card-title>
          <md-card-title-text>
            <span class="md-headline">cycle</span>
          </md-card-title-text>
        </md-card-title>
        </md-card-title>
                <md-card-content>
          <ul>
              <li>improve the previous idea</li>
              <li>deploy it</li>
              <li>learn and cycle</li>
          </ul>
        </md-card-content>
        <md-card-actions layout="row" layout-align="start center">
          <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <md-icon md-svg-icon="share"></md-icon>
            </md-button>
      </md-card>
   </div>