     <div layout-sm="column" layout-xs="column" layout="row">
      <md-card>
          <md-card-title>
          <md-card-title-text>
            <span class="md-headline">showcase</span>
          </md-card-title-text>
        </md-card-title>
                <md-card-content>
          <ul>
              <li>easy to build showcases</li>
              <li>double up as training</li>
              <li>can be run anytime</li>
          </ul>
        </md-card-content>
        <md-card-actions layout="row" layout-align="start center">
          <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <md-icon md-svg-icon="share"></md-icon>
            </md-button>
      </md-card>
            <md-card>
          <md-card-title>
          <md-card-title-text>
            <span class="md-headline">status</span>
          </md-card-title-text>
        </md-card-title>
                <md-card-content>
          <ul>
              <li>maturity of the feature</li>
              <li>auto backlog</li>
              <li>automated metrics</li>
              <li>control dashboard</li>
          </ul>
        </md-card-content>
        <md-card-actions layout="row" layout-align="start center">
          <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <md-icon md-svg-icon="share"></md-icon>
            </md-button>
      </md-card>
      <md-card>
          <md-card-title>
          <md-card-title-text>
            <span class="md-headline">reward</span>
          </md-card-title-text>
        </md-card-title>
        </md-card-title>
         <md-card-content>
          <ul>
              <li>build reputation and experience</li>
              <li>complete training courses</li>
              <li>market place</li>
              <li>reseller</li>
          </ul>
        </md-card-content>
        <md-card-actions layout="row" layout-align="start center">
          <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <md-icon md-svg-icon="share"></md-icon>
            </md-button>
        <md-card-content>
          <p>
            
          </p>
        </md-card-content>
      </md-card>
            <md-card>
         <md-card-title>
          <md-card-title-text>
            <span class="md-headline">training</span>
          </md-card-title-text>
        </md-card-title>
        </md-card-title>
                <md-card-content>
          <ul>
              <li>step by step traing is automated</li>
              <li>specialist training courses</li>
              <li>all features explained</li>
          </ul>
        </md-card-content>
        <md-card-actions layout="row" layout-align="start center">
          <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <md-icon md-svg-icon="share"></md-icon>
            </md-button>
      </md-card>
   </div>