     <div layout-sm="column" layout-xs="column" layout="row">
      <md-card>
          <md-card-title>
          <md-card-title-text>
            <span class="md-headline">frictionless</span>
          </md-card-title-text>
         <img src="assets/png/bolt.png" class="avatar">
        </md-card-title>
        <div layout="row">
         <md-card-content>
          <ul>
              <li>get to productive in less than 5 minutes</li>
              <li>deploy your first of many continuous releases</li>
              <li>setup a sales demo site in less than 5 minutes</li>
              <li>responsive for all devices</li>
          </ul>
        </md-card-content>
         <md-card-actions layout="column">
            <md-button class="md-icon-button" aria-label="Add Metric">
              <md-icon md-svg-icon="altimeter"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Add Task">
              <md-icon md-svg-icon="view-list"></md-icon>
            </md-button>
          </md-card-actions>
        </div>
        <md-progress-linear class="md-warn" md-mode="determinate" value="10"></md-progress-linear>
      </md-card>
            <md-card>
          <md-card-title>
          <md-card-title-text>
            <span class="md-headline">flexible</span>
          </md-card-title-text>
          <img src="assets/png/swatches.png" class="avatar">
        </md-card-title>
         <div layout="row">
          <md-card-content>
          <ul>
              <li>single source of truth</li>
              <li>all assets used through life cycle</li>
              <li>automated metrics</li>
              <li>control dashboard</li>
          </ul>
        </md-card-content>
        <md-card-actions layout="column">
            <md-button class="md-icon-button" aria-label="Add Metric">
              <md-icon md-svg-icon="altimeter"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Add Task">
              <md-icon md-svg-icon="view-list"></md-icon>
            </md-button>
          </md-card-actions>
        </div>
       <md-progress-linear class="md-warn" md-mode="determinate" value="10"></md-progress-linear>
      </md-card>
      <md-card>
          <md-card-title>
          <md-card-title-text>
            <span class="md-headline">fair</span>
          </md-card-title-text>
        <img src="assets/png/running.png" class="avatar">
        </md-card-title>
        <div layout="row">
         <md-card-content>
          <ul>
              <li>multi stakeholder co-op</li>
              <li>reward for effort</li>
              <li>transparent</li>
              <li>accountable</li>
          </ul>
        </md-card-content>
        <md-card-actions layout="column">
            <md-button class="md-icon-button" aria-label="Add Metric">
              <md-icon md-svg-icon="altimeter"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Add Task">
              <md-icon md-svg-icon="view-list"></md-icon>
            </md-button>
          </md-card-actions>
        </div>
       <md-progress-linear class="md-warn" md-mode="determinate" value="10"></md-progress-linear>
      </md-card>
            <md-card>
         <md-card-title>
          <md-card-title-text>
            <span class="md-headline">free</span>
          </md-card-title-text>
         <img src="assets/png/money.png" class="avatar">
        </md-card-title>
        <div layout="row">
         <md-card-content>
          <ul>
              <li>open source</li>
              <li>MIT license</li>
              <li>all tools are free</li>
          </ul>
        </md-card-content>
         <md-card-actions layout="column">
            <md-button class="md-icon-button" aria-label="Add Metric">
              <md-icon md-svg-icon="altimeter"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Add Task">
              <md-icon md-svg-icon="view-list"></md-icon>
            </md-button>
          </md-card-actions>
        </div>
        <md-progress-linear class="md-primary" md-mode="determinate" value="100"></md-progress-linear>
      </md-card>
   </div>