     <div layout-sm="column" layout-xs="column" layout="row">
      <md-card>
          <md-card-title>
          <md-card-title-text>
            <span class="md-headline">idea</span>
          </md-card-title-text>
          <img src="assets/png/loading.png" class="avatar">
        </md-card-title>
        <div layout="row">
                <md-card-content>
          <ul>
              <li>sketch the idea</li>
              <li>add more detail</li>
              <li>build a prototype</li>
              <li>measure the delta</li>
          </ul>
        </md-card-content>
        <md-card-actions layout="column">
            <md-button class="md-icon-button" aria-label="Add Metric">
              <md-icon md-svg-icon="altimeter"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Add Task">
              <md-icon md-svg-icon="view-list"></md-icon>
            </md-button>
          </md-card-actions>
        </div>
        <md-progress-linear class="md-warn" md-mode="determinate" value="10"></md-progress-linear>
      </md-card>
            <md-card>
          <md-card-title>
          <md-card-title-text>
            <span class="md-headline">learn</span>
          </md-card-title-text>
          <img src="assets/png/keyboard.png" class="avatar">
        </md-card-title>
        <div layout="row">
         <md-card-content>
          <ul>
              <li>maturity of the feature</li>
              <li>auto backlog</li>
              <li>automated metrics</li>
              <li>control dashboard</li>
          </ul>
        </md-card-content>
       <md-card-actions layout="column">
            <md-button class="md-icon-button" aria-label="Add Metric">
              <md-icon md-svg-icon="altimeter"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Add Task">
              <md-icon md-svg-icon="view-list"></md-icon>
            </md-button>
          </md-card-actions>
        </div>
        <md-progress-linear class="md-warn" md-mode="determinate" value="10"></md-progress-linear>
      </md-card>
      <md-card>
          <md-card-title>
          <md-card-title-text>
            <span class="md-headline">realise</span>
          </md-card-title-text>
          <img src="assets/png/browser.png" class="avatar">
        </md-card-title>
        <div layout="row">
         <md-card-content>
          <ul>
              <li>always shipping</li>
              <li>continuous delivery to production</li>
              <li>fast feedback</li>
              <li>answer hypothesis</li>
          </ul>
        </md-card-content>
        <md-card-actions layout="column">
            <md-button class="md-icon-button" aria-label="Add Metric">
              <md-icon md-svg-icon="altimeter"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Add Task">
              <md-icon md-svg-icon="view-list"></md-icon>
            </md-button>
          </md-card-actions>
        </div>
        <md-progress-linear class="md-warn" md-mode="determinate" value="10"></md-progress-linear>
      </md-card>
            <md-card>
         <md-card-title>
          <md-card-title-text>
            <span class="md-headline">cycle</span>
          </md-card-title-text>
          <img src="assets/png/recycle.png" class="avatar">
        </md-card-title>
        <div layout="row">
                <md-card-content>
          <ul>
              <li>improve the previous idea</li>
              <li>deploy it</li>
              <li>learn and cycle</li>
          </ul>
        </md-card-content>
<md-card-actions layout="column">
            <md-button class="md-icon-button" aria-label="Add Metric">
              <md-icon md-svg-icon="altimeter"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Add Task">
              <md-icon md-svg-icon="view-list"></md-icon>
            </md-button>
          </md-card-actions>
        </div>
        <md-progress-linear class="md-warn" md-mode="determinate" value="10"></md-progress-linear>
      </md-card>
   </div>